$background-color: #141313;
$text-color: white;
$input-background: #f9f9f9;
$input-border: #ccc;
$button-hover-bg: #777;
$focus-color: #007BFF;


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;
  padding: 10px 20px;
  color: $text-color;

  .logo img {
    height: 30px;
    
    margin-right: 20px;
  }

  .login-btn {
    background-color: #3a3030cb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5p
